<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSpeak AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>🤟 SignSpeak AI</h1>
        <p>Reconocimiento de Lengua de Señas</p>
    </header>

    <main>

        <section class="camera">
            <h2>Cámara</h2>
            <video id="video" autoplay></video>
            <h3 id="result">
                Esperando seña...
            </h3>
        </section>

        <section class="gesture-card">
            <img id="gestureImage" src="{{ url_for('static', filename='images/gestures/default.png') }}">
            <h2 id="gestureName">
                Seña detectada
            </h2>
            <p id="gestureDescription">
                Aquí aparecerá la explicación.
            </p>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}">
    </script>
</body>

</html>